.header {
    grid-area: h;
    background: aqua;
    display: block;

}

.header img {
    width: 50px;
    display: inline-block;
    margin: 30px;
    margin-top: 15px;
    border: 1px solid black;
    padding: 5px;
}

h1 {
    display: inline-block;
margin-top:0px;
}

header div {

}